#infoTag {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%; /* Ensure it spans the full width */
   
}

#yearTag {
    font-weight: 700;
    font-size: 4rem;
    color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textTag {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}